* {
	margin: 0px;
	padding: 0px;
	cursor: default;
	list-style: none;
	border: none;
	outline: none;
	line-height: normal;
}
body {
	font-family: Georgia;
	font-size: 12px;
}
a, a *, button, button *, select, select *, optgroup, optgroup *, option, option *, label, label *,
input[type=checkbox], input[type=radio], input[type=image], input[type=submit], input[type=file] {
	cursor: pointer;
}
input[type=password], input[type=text], textarea {
	cursor: text;
	border: 1px solid #ccc;
	font-family: Arial;
	font-size: 11px;
	padding: 8px;
}
hr {
	display: none;
}
#page {
	width: 640px;
	margin: 10px auto 10px auto;
	border: 1px solid #000;
	background-color: #eee;
}
#header {
	background-color: #000;
	color: #fff;
}
#content {
	width: 440px;
	float: left;
	clear: none;
}
#sidebar {
	background-color: #999;
	float: right;
	clear: none;
	width: 200px;
}
#footer {
	background-color: #666;
	clear: both;
}
ul li, ol li {
	margin-left: 20px;
}
ul li {
	list-style-type: square;
}
ol li {
	list-style-type: decimal;
}